
        <section class="profile col-md-6 text-center col-lg" id="profile-page">
            <div class="profile-container">
                <!-- Do not forget to change the path to the image -->
                <!-- Gender of the user determines which picture is displayed as their avatar -->
                <img class="profile-img" src="/images/male.png">
                <p>Email: <span>{{user.email}}</span></p>
            </div>
            <div class="profile-info">
                <p>Trips History: <span>{{user.history.length}}</span> counts</p>

                <div class="trips-info">
                    {{#if historyTrips}}
                        {{#each historyTrips}}
                            {{>historyTripCard}}
                        {{/each}}
                    {{else}}
                    <!-- If there are no trips created by the current logged in user display:-->
                    <p>there are no offer trips yet...</p>
                    {{/if}}
                </div>

            </div>
        </section>
